.git
.idea
#忽略temp文件和目录
temp
#忽略outputFiles目录下的文件
outputFiles/
#不忽略outputFiles目录
#!outputFiles/
#忽略test文件和目录
test
#忽略test目录下的所有文件
#test/
#仅仅忽略根目录下的test文件，不包括tmp/test
#/test
#忽略.xml结尾的所有文件
*.xml
.gitignore.swp
*.pyc
#忽略*.o和*.a文件
*.[o,a]
#my.b除外
!my.b
#忽略dbg文件和dbg目录
dbg
#只忽略dbg目录，不忽略dbg文件
dbg/
#只忽略dbg文件，不忽略目录
dbg
!dbg/
#只忽略当前目录下的dbg和目录，子目录下的dbg不忽略
/dbg

~*
.cache


shuchu_*

__init__.py
*.log
.DS_Store




